# Python / Django
__pycache__/
*.pyc
venv/
env/
db.sqlite3
*.log
staticfiles/

# Node / Next.js
node_modules/
.next/
out/

# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Divers
.env
.DS_Store
